<!DOCTYPE html>

<html>
    <head>
        <style>
            body {font-family: Helvetica; margin: 20px;}
            td {padding: 10px;}
            .Bullish {background: green; color: white;}
            .Bearish {background: red; color: white;}
        </style>
    </head>

    <body>

        <script type="text/javascript">
            function refreshData() {
                var xhr = new XMLHttpRequest();
                xhr.open("GET", "/snapshot", true);
                xhr.onload = function () {
                    if (xhr.readyState === xhr.DONE) {
                        if (xhr.status === 200) {
                            alert("Refresh has been completed!");
                        } else {
                            alert("Error: " + xhr.statusText);
                        }
                    }
                };
                xhr.send();
            }

        </script>
            
        <h1>
            Chart Pattern Screener
        </h1>

        <form>
            <select name="pattern">
                {% for pattern in patterns %}
                    <option value="{{ pattern }}" {% if pattern ==  current_pattern %} selected="selected" {% endif %}> {{ patterns[pattern] }}</option>

                {% endfor %}
            </select>

            <input type="submit" value="Scan" />
            <input type="button" id="refresh-button" value="Refresh and Fetch Updated Data" onclick="refreshData()" />

        </form>

        <table style="width: 90%;">

            <tr>
                <th>
                    Symbol
                </th>
                <th>
                    Coin Name
                </th>
                <th>
                    Signal
                </th>
            </tr>
            {% for coin in stocks %}
                {% if stocks[coin][current_pattern] %}
                <tr>
                    <td>{{ coin }}</td>
                    <td>{{ stocks[coin]['Coin Name'] }}</td>
                    <td class="{{ stocks[coin][current_pattern] }}">{{ stocks[coin][current_pattern] }}</td>
                </tr>
                <tr>
                    <td colspan="3">
                         <!-- TradingView Widget BEGIN -->
                        <div class="tradingview-widget-container">
                            <div id="tradingview_{{ coin }}"></div>
                            <div class="tradingview-widget-copyright">
                                <a href="https://www.tradingview.com/symbols/{{ coin }}USDT/?exchange=BINANCE" rel="noopener" target="_blank">
                                    <span class="blue-text">{{ coin }}USDT chart</span>
                                </a> by TradingView
                            </div>
                            <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
                            <script type="text/javascript">
                                new TradingView.widget(
                                {
                                    "width": 1250,
                                    "height": 500,
                                    "symbol": "BINANCE:{{ coin }}USDT",
                                    "interval": "60",
                                    "timezone": "Asia/Taipei",
                                    "theme": "dark",
                                    "style": "1",
                                    "locale": "en",
                                    "toolbar_bg": "#f1f3f6",
                                    "enable_publishing": false,
                                    "allow_symbol_change": true,
                                    "container_id": "tradingview_{{ coin }}"
                                }
                                );
                            </script>
                        </div>
                        <!-- TradingView Widget END -->
                    </td>
                </tr>
                {% endif %}
            {% endfor %}



        </table>

    </body>
</html>